/* overall font-family add */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


  body{
    height: 100%;
    margin: 0px;
    font-family: Inter;
  }

/* bannar section style */
.bannar{
    background:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 600px;
    margin: 50px 140px 0px 140px;
}
.bannar h5{
    padding: 175px 530px 0px 530px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 28px;
    }
.bannar h2{
    margin: 0px 345px 175px 345px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
/* banner styles end */
/* 65% off section */
.offer-section h1{
    color: #F00;
text-align: center;
font-size: 85px;
font-weight: 700;
margin-top: 125px;
margin-bottom: 45px;
}
.offer-section h6{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #F00;
text-align: center;
font-size: 20px;
font-weight: 500;
}
.offer-section h3{
   margin-top: 5px;
    color: #070211;
text-align: center;
font-size: 45px;
font-weight: 700;
margin-bottom: 30px;
}
.offer-img {
   display: flex;
   justify-content: center;
margin-bottom: 120px;

}
/* 65% off section end */
/* welcome section styels */
.welcome-section{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url('../resources/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 120px 140px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center top;
    padding-top: 10px;
    gap: 0px;
}
.welcome-section img{
    padding: 70px 100px 70px 0px;
}
.welcome-section h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    padding: 50px 400px 0px 80px;
    margin-bottom: 24px;
}
.welcome-section p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    padding: 25px 400px 40px 80px;
    margin-bottom: 0px;
}
.pri-button{
    background-color: gold;
    padding: 10px;
    text-align: center; 
    margin: 10px 0px 200px 140px;
    font-size: 20px;
    border: 1px solid gold;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgb(151, 127, 60);
  
}
/* welcome section end */
/* join section styles */
.join-section{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 300px;
    margin: 120px 140px;
    padding:100px 385px 125px 385px ;
}
.join-section p{
    text-align: center;
    
}
.pri-button{
    color: #FFF;
    padding:20px 40px;
    margin: 65px 90px 125px 200px;
    font-size: 20px;
    border: 1px solid gold;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 2px 3px 8px rgb(151, 127, 60);
}
.join-button{
 padding-left: 40px;
 padding-bottom: 120px;
   
}
.same-color{
    color: #F00;
    font-size: 25px;
    font-weight: 600;


}
/* best offer section */
.best-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 120px 140px;
}
.best-offer-description h6{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
  
  
}
.best-offer-description h1{
    margin-top: 5px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;

}
.best-offer-description p{
    margin-top: 20px;
    color: #07021199;
    font-size: 20px;
}
.best-offer-img{
    margin-right: 150px;
 
}

.best-offer-img img{
    height: 360px;
    width: 360px;
    border-radius: 50%;
    border: 10px solid #F00;
    padding: 20px;
}
.best-offer-sider{
    margin-left: 50px;
}
.best-offer-sider h2{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;

}
.best-offer-sider p{
    margin-top: 10px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;

}
/* best offer section end */
/* holy sale section */
.holy-description{
    text-align: center;
}
.holy-description h6{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}
.holy-description h1{
    margin-top: 10px;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 0px;
}
.holy-description p{
    color: rgba(7, 2, 17, 0.60);
    margin: 15px 140px 50px 140px ;
    font-size: 20px;
    font-weight: 500;
}
.holy-section{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 140px 120px 140px;
    
    background-image: url('../resources/Rectangle\ 2.png');
    background-position:  bottom;
    background-repeat: no-repeat;
    padding-right:560px ;
    padding-left: 300px;
    
 
}
.holy-gift{
  
    padding-left: 140px;
    padding-top:200px;
}
.holy-sale{
    padding-left: 335px;
    padding-top: 150px;
    padding-bottom: 202px;
    background-image: url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: top right;
}
.holy-sale img{
    margin-right:250px ;
 
}


/* portfolio section styles */
.portfolio-section{
    margin: 45px 140px 0px 140px; 
}
.portfolio-description{
    margin: 45px 0px;
}
.portfolio-description h6{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;

}
.portfolio-description h2{
    margin-top: 10px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}
.portfolio-description p{
    margin-top: 0px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    margin-bottom: 0px;
}
.gift-section{
    margin: 10px auto;
    
   
}
.gift-row-1, .gift-row-2{
    display: flex;
    gap: 55px;
    justify-content: center;
  
}
.gift-row-1{
    margin-bottom: 55px;
    
    
}
.gift-row-2{
    margin-bottom: 120px;
}
.img :hover{
    border: 2px solid red;
    border-radius: 16px;
}
/* gift section end */
/* subscription section */
.sub-section{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 120px 140px;
    height: 560px;
    
}
.sub-description{
    text-align: center;
    padding: 80px;
    padding-bottom: 30px;
   
}
.sub-description h2{
    color: #070211;
    margin-top:30px ;
    margin-bottom: 10px;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.sub-description p{
    color: rgba(7, 2, 17, 0.60);
    margin-top: 0px;
    font-size: 20px;
    font-weight: 400;
  
 
}
.sub-input{

    position: relative;
}
.input{
    border-radius:50px 0px 0px 50px ;
    background: #FFF;
    padding: 25px 250px 27px 50px;
    margin: 10px 0px 350px 335px;
    border: 1px solid white;
   
}
.pri-button-sub{
    background-color: gold;
    padding: 22px 57px;
    text-align: center;  
    font-size: 20px;
    border: 1px solid gold;
    border-radius: 0px 50px 50px 0px;
    color: #FFF;
    font-weight: 600;
    position: absolute;
    margin-right: 392px;
    margin-top: 10px;
}
/* subscription section end */
 /* footer section */
 .footer{
    background-color: #070211;
    height: 650px;
    color: #FFF;
    
 }
 .footer-upper-section{
    display: flex;
    justify-content: space-around;
    gap: 530px;

   
 }
 .left-uper-section{
    padding:120px 250px 20px 140px;
    width: 50%;

  
 }
.right-uper-section{
    padding: 120px 140px 20px 100px;
    width: 50%;
 }
 .contacts{
    display: flex;
    gap: 10px;
    
 }
 .contacts img{
    padding-top: 10px;
    height: 25px;
    width: 25px;
 }
 hr{
  border: 1px solid  rgba(255, 255, 255, 0.15);
    margin: 50px 140px;
 }
 /* contact section */
 .cont-section{
    display: flex;
    justify-content: center;
    gap: 25px;
 }
 .last-section{
    display: flex;
    gap: 300px;
    justify-content: space-between;
    padding: 0px 140px 0px 140px;
 }
